body{
    background-color: #f5f5f5;
}

.login{
    background-color: #fff;
    height: 80vh;
    border-radius: 16px;
    .portada .circulo{
        background-color: #c5c5c5;
        text-align: center;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        i{
            font-size: 8rem;
            color: #fff;
        }
    }
    .formulario{
        padding: 16px 32px;
        .btn{
            height:3rem; 
            width:100px; 
            margin: 20px -50px 0px -50px; 
            position:relative;
            top:50%; 
            left:50%;           
            border-radius: 50px;
            background-color: #5eb1dc;
            border: 0px
        }


    }
    .crear{
        padding: 0px 32px 32px 32px;
        text-align: center;
        p{
            color: #5eb1dc;
        }
    }
}
.perfil{
  background-color: #fff;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 16px;
  .fondo{
    overflow: hidden;
    max-height: 200px;
    img{
      width: 100%;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      height: 80%;
    }
  }
  .profile {  
  text-align: center;
  padding: 0 32px;
  position: relative;
  top: -100px;
    .circular--landscape{
      display: inline-block;
      position: relative;
      width: 200px;
      height: 200px;
      overflow: hidden;
      border-radius: 50%;
      border: 4px solid #fff;

      img {        
        width: auto;
        height: 100%;
        bottom: 0px;
      }
    }
  }
  .gallery{
    padding: 0px 32px;
    position: relative;
    top: -50px;
    img{
      width: 100px;
      height: 100px;
      overflow: hidden;
      // height: 100px;
      margin-bottom: 24px;
      border-radius: 8px;
    }
  }
  .load-image{
    padding: 0px 32px;
    position: relative;
    top: -32px;
    button{
      width: 100%;
      background-color: #5eb1dc;
      color: white;
    }
  }
}

.portfolio-item {
    position: relative;
    border: 1px solid var#fff;
    overflow: hidden;
    z-index: 1; 
    margin-bottom: 16px;
    border-radius: 16px;
    
    height: 200px;
    // overflow: hidden;

  }
  .portfolio-item img {
    transition: all 0.3s;
    position:absolute;

    min-height: 100%;
    min-width: 100%;
    margin: auto;
    border-radius: 16px;
  }
  .portfolio-item:before {
    content: "";
    inset: 0;
    position: absolute;
    // background: rgba(rgb(72, 86, 100), 0.8);
    z-index: 2;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;

  }
  .portfolio-item .portfolio-info {
    opacity: 0;
    position: absolute;
    left: 25px;
    bottom: 0;
    z-index: 3;
    right: 25px;
    transition: all 0.3s;
    background: rgba(94, 177, 220, 0.8);
    padding: 10px 25px;
    color: #fff;
  }
  .portfolio-item .portfolio-info h4 {
    font-size: 18px;
    font-weight: 600;
    
    padding-right: 50px;
  }
  .portfolio-item .portfolio-info .preview-link, .portfolio-item .portfolio-info .details-link {
    position: absolute;
    right: 40px;
    font-size: 24px;
    top: calc(50% - 18px);
    color: #fff;
    transition: 0.3s;
  }
  .portfolio-item .portfolio-info .preview-link:hover, .portfolio-item .portfolio-info .details-link:hover {
    color: var#fff;
    border-radius: 16px;
  }
  .portfolio-item .portfolio-info .details-link {
    right: 14px;
    font-size: 28px;
    
  }
  .portfolio-item:hover:before {
    visibility: visible;
    opacity: 1;
    border-radius: 16px;
  }

  .portfolio-item:hover .portfolio-info {
    opacity: 1;
    inset: auto 10px 0 10px;
  }
  