{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% from 'bootstrap5/form.html' import render_form %}


{% block content%}

    
    <div class="container mt-5">
        <div class="row">
            <div class="col-4">
                <div class="login">
                    <div class="portada">
                        <div class="circulo">
                            <i class="bi bi-person-circle"></i>                            
                        </div>
                    </div>
                    <div class="formulario">
                        {{ render_form(login_form)}}                       
                    </div>
                    <div class="crear">
                        <p>Crear una cuenta</p>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="row">
                    {% for todo in todos%}
                        {{ macro.render_todo(todo) }}
                    {% endfor%}
                </div>
            </div>
        </div>
    </div>
        

{% endblock %}
